<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <script type="text/javascript" th:src="@{/resources/js/app/utils.js}"></script>
    <div th:replace="javascript/zone_backend"></div>
    <div th:replace="javascript/univ_backend"></div>
    <div th:replace="javascript/pagination"></div>
    <script th:inline="javascript" type="text/javascript">
        var viewBackend = new NcuUnivBackend(/*[[${code}]]*/);
    </script>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <th:block th:switch="${country == null}">
                <th:block th:case="true">
                    <h1><a th:href="@{/statistics/univ}" id="country">World Universities</a></h1>
                </th:block>
                <th:block th:case="*">
                    <h1><th:block th:text="${country}"></th:block> ( .<a th:href="@{/statistics/univ/{country}(country=${code})}"><th:block th:text="${code}"></th:block></a>)</h1>
                </th:block>
            </th:block>
            <div th:replace="view/browse_backend"></div>
        </div>
    </div>
</div>

<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>