<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Bootswatch</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div th:fragment="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand" th:text="#{application.name}"></a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="../default/">Default</a></li>
                        <li class="divider"></li>
                        <li><a href="../cerulean/">Cerulean</a></li>
                        <li><a href="../cosmo/">Cosmo</a></li>
                        <li><a href="../cyborg/">Cyborg</a></li>
                        <li><a href="../darkly/">Darkly</a></li>
                        <li><a href="../flatly/">Flatly</a></li>
                        <li><a href="../journal/">Journal</a></li>
                        <li><a href="../lumen/">Lumen</a></li>
                        <li><a href="../paper/">Paper</a></li>
                        <li><a href="../readable/">Readable</a></li>
                        <li><a href="../sandstone/">Sandstone</a></li>
                        <li><a href="../simplex/">Simplex</a></li>
                        <li><a href="../slate/">Slate</a></li>
                        <li><a href="../spacelab/">Spacelab</a></li>
                        <li><a href="../superhero/">Superhero</a></li>
                        <li><a href="../united/">United</a></li>
                        <li><a href="../yeti/">Yeti</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../help/">Help</a>
                </li>
                <li>
                    <a href="http://news.bootswatch.com">Blog</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Spacelab <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a href="https://jsfiddle.net/bootswatch/Laobkr1d/">Open Sandbox</a></li>
                        <li class="divider"></li>
                        <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                        <li><a href="./bootstrap.css">bootstrap.css</a></li>
                        <li class="divider"></li>
                        <li><a href="./variables.less">variables.less</a></li>
                        <li><a href="./bootswatch.less">bootswatch.less</a></li>
                        <li class="divider"></li>
                        <li><a href="./_variables.scss">_variables.scss</a></li>
                        <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><i class="fas fa-cog"></i><span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a th:href="@{/lang?lang=zh_TW}">中文版</a></li>
                        <li><a th:href="@{/lang?lang=en}">English</a></li>
                        <th:block sec:authorize="hasRole('DEVELOPER')" >
                            <li class="divider"></li>
                            <li><a th:href="@{/devel}">Bootswatch</a></li>
                            <li><a href="https://bootswatch.com/3/spacelab/" target="_blank">Bootswatch (Space Lab)</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/repos/browser}" target="_blank">HAL Browser</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/devel/login-as}">Logged-in As</a></li>
                            <li><a th:href="@{/devel/switch-site}">Switch Site</a></li>
                            <li><a th:href="@{/devel/role-manipulate}">Manipulate Role</a></li>
                        </th:block>
                        <li class="divider"></li>
                        <li><a sec:authorize="! isAuthenticated()" th:href="@{/login}" th:text="#{menu.login}"></a></li>
                        <li><a sec:authorize="! isAuthenticated()" th:href="@{/signup}" th:text="#{menu.signup}"></a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}"><span th:text="#{menu.logout}"></span> ( <span sec:authentication="name"></span> )</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>