<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<li th:fragment="webgate" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="gate">Gate <span class="caret"></span></a>
    <div class="dropdown-menu" aria-labelledby="gate">
        <a class="dropdown-item" href="../default/">Default</a>
        <a class="dropdown-item" href="../cerulean/">Cerulean</a>
        <a class="dropdown-item" href="../cosmo/">Cosmo</a>
    </div>
</li>
</body>
</html>